*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
     background: linear-gradient( 90deg, rgba(142, 140, 140, 0.733), white )
}

.fox-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-contents: center;
    height: 100vh;
}

.fox-card .card{
    width: 450px;
    border: 5px outset rgb(0, 0, 77);
    background: linear-gradient(100deg, white, rgba(128, 128, 128, 0.407));
    padding: 5px;
    box-shadow: 2px 2px;
}

header .name{
    font: bold 20pt sans-serif;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 5px outset rgba(30, 48, 183, 0.814);
    box-shadow: 2px 2px;
   text-align: center;
}

#image{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5px;
    padding: 5px;
}

#image img {
    width: 350px;
    border: 5px outset rgb(0, 0, 77);
    box-sizing: border-box;
    margin: 5px;
}

.information{
    border: 5px outset rgb(194, 189, 184);
    padding: 15px;
    background-color: rgba(216, 214, 213, 0.785);
    text-align: justify;
}

.information .fact{
font-style: italic;
font-weight: bold;
margin: 5px;
}

.information ul{
    text-align: left;
    list-style-type: none;
    margin-top: 5px;
}

.information ul li{
    color: #362d2d;
    font-weight: 600;
}

.information ul li span{
    color: #000;
}

.information hr {
    border-top: 2px solid black;
    margin-top: 10px;

}

.information .description {
    margin: 3px;
}

footer{
    text-align: center;
    margin: 5px;
    font-style: italic;
    font-weight: 700;
    color: blue;
}
